BasedOnStyle: WebKit
ColumnLimit: 120
UseTab: Never
IndentWidth: 2
TabWidth: 2
AccessModifierOffset: -2
SortIncludes: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
IndentCaseLabels: true
